name: Next JS Frontend - CI Prod

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        project:
          - name: frontend
            dockerfile: ./frontend/web-analyser-web/Dockerfile
            context: ./frontend/web-analyser-web
            image-tag: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      - name: Build and push Docker image for ${{ matrix.project.name }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.project.context }}
          file: ${{ matrix.project.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/chinthaka-dinadasa/web_url_analyser-web
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64

